*{
    margin: 0;
    padding: 0;
}
#fantasma{
    display: none;
}

body{
    min-height:100%;

    position:relative;
    display: grid;

    margin: auto;
    box-sizing: border-box;
}
.leftbar  {
    left:0; 
    top:0;
    position:absolute
}
.rightbar {
    right:0;
     top:0;
     position:absolute
}
input{
    margin: 2px;
    justify-content: center;
    padding: 1px 4px;
    align-items: center;
    border-radius: 5px;
    border-width: 1px;
   
}

.grid-ficha{
    display: grid;
    grid-template-columns: 120px  200px  200px  150px  150px 150px  ;
    grid-template-rows:  70px  100px  100px  100px  50px  ; 
    border-radius: 4px;
    border-color: black;
    background: rgb(124, 124, 124);
    border-style:ridge;
    padding: 10px;

   
    margin:2% 3%;
    gap: 10px;
   width: fit-content;
    

}
            .nomeEspecie{
               grid-area:1/1/3/3 ;
                display: flex;
                flex-direction: column;
               justify-content:start;
               gap: 10px;
               border-radius: 4px;
               border-color: rgb(189, 189, 189);
               background: rgb(173, 173, 173);
               border-style:ridge;
               border-width: 2px;
               padding: 2px;
               
                
            }
                .ficha__nome{
                    display: flex;
                        flex-direction: column;
                       justify-content: center;
                }
                .ficha__especie{
                    display: flex;
                        flex-direction: column;
                       justify-content: center;
                }
                .exp{
                    display: flex;
                    flex-direction: column;
                   justify-content: center;
                }


.classes1234{
gap: 10px;
display: flex;
border-radius: 4px;
border-color: rgb(189, 189, 189);
background: rgb(173, 173, 173);
border-style:ridge;
border-width: 2px;
padding: 2px;
padding-right: 10px;
justify-content:end;
             
}
.classes{
display: flex;
flex-direction: row;
gap: 10px;
justify-content: left;
padding-right: 2px;
}
              

.antecedenteProfissaoEspecialização{
gap: 10px;
display: flex;
flex-direction: column;
justify-content: top;
grid-area: 3/ 1 / 6 / 3;
border-radius: 4px;
border-color: rgb(189, 189, 189);
background: rgb(173, 173, 173);
border-style:ridge;
border-width: 2px;
padding: 2px;
}
.ficha__dados__antecedentes{
display: flex;
flex-direction: column;
justify-content: center;
}

 .ficha__dados__especializacao{
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.ficha__dados__especializacao2{
display: flex;
flex-direction: column;
justify-content: center;
 }

.ficha__dados__profissao{
display: flex;
 flex-direction: column;
justify-content: center;
}

.ficha__dados__dano{
 grid-area: 1/ 3 / 3/ 4;
display: flex;
box-sizing: border-box;
gap: 10px;
justify-content: end;
flex-direction: column;
border-radius: 4px;
border-color: rgb(189, 189, 189);
background: rgb(173, 173, 173);
border-style:ridge;
border-width: 2px;
padding: 2px;
                            
}

.ficha__dados__acerto__valores{
display: flex;
flex-direction: column;
justify-content: center;
                               
}   
                            
.ficha__dados__acerto__valores__CombateCorpoaCorpo{
display: flex;
flex-direction: column;
 justify-content: left;
 }

.ficha__dados__acerto__valores__CombateArcano{
display: flex;
flex-direction: column;
justify-content: left;
                                       
}

.ficha__dados__acerto__valores__Combateadistancia{
display: flex;
flex-direction: column;
justify-content: left;
 }
                               
.ficha__dados__dano__valores{
display: flex;
flex-direction: column;
align-items: left;
grid-area: 2/2/3/3;
gap: 6.5px;
grid-area: 3/ 3 / 6/ 4;
border-radius: 4px;
border-color: rgb(189, 189, 189);
background: rgb(173, 173, 173);
border-style:ridge;
border-width: 2px;
padding: 2px;
box-sizing: border-box;
}

.ficha__dados__dano__valores__danoFisico{
display: flex;
flex-direction: row;
justify-content: left;
gap: 20px;
background: lightgray;
}
.ficha__dados__dano__valores__danoMagico{
display: flex;
flex-direction: row;
justify-content: left;
 }

.ficha__dados__danovalores__danoBonus{
display: flex;
flex-direction: row;
justify-content: left;
gap: 18px;
background: lightgray;
}
                                 
                                        
.ficha__dados__dinheiro__ouro{
display: flex;
flex-direction: row;
justify-content: left;
gap: 10px;
 }
.ficha__dados__dinheiro__prata{
display: flex;
flex-direction: row;
justify-content: left;
gap: 10px;
background: lightgray;
}
.ficha__dados__dinheiro__bronze{
display: flex;
flex-direction: row;
justify-content: left;
gap: 10px;
 }
p{
width: fit-content;
height: fit-content;
border-radius: 4px;
border-color: rgb(189, 189, 189);
background: rgb(173, 173, 173);
border-style:ridge;
border-width: 2px;
padding: 2px;
box-sizing: border-box;
}
.titulo{
    border-radius: 4px;
border-color: rgb(189, 189, 189);
background: rgb(173, 173, 173);
border-style:ridge;
border-width: 2px;
padding: 2px;
}                                        
.habilidades{
display: flex;
grid-area: 2/4/6/5;
gap: 20px;
border-radius: 4px;
border-color: rgb(189, 189, 189);
background: rgb(173, 173, 173);
border-style:ridge;
border-width: 2px;
padding: 2px;
justify-content: space-between; 
}
.fisico{
gap: 20px;
justify-content: space-between; 
}
.habilidade{
display: flex;
width: 100px;
justify-content:space-between;
gap: 20px;
}